.card{
	display: inline-block;
	margin: 0.2in;
	width: 2.5in;
	height: 3.5in;
	border-radius: 0.3in;
	border: 1px solid black;
	position: relative;
}

.inner{
	background-color: white;
	position: absolute;
	top: 0.1in;
	bottom: 0.1in;
	left: 0.1in;
	right: 0.1in;
	border-radius: 0.2in;
	border: 1px solid black;
	padding: 0.05in 0.05in 0.3in 0.05in;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.inner::after{
	content: "";
}
.inner > *{
	margin-bottom: 8pt;
}

.name{
	text-align: center;
	font: 18pt sans-serif;
}

.text{
	font: 12pt serif;
	text-align: center;
	width: 100%;
}

.flavour{
	font: 8pt serif;
	text-align: center;
}

.icon-container{
	display: inline-block;
}

.icon{
	display: inline;
	height: 14pt;
	margin-bottom: -3pt;
}

.image-main{
	flex: 0 0 1in;
	height: 1in;
	text-align: center;
}

.image-main > img{
	height: 100%;
	display:inline;
}

.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	border-top: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}

.corner + .footer{
	padding-right: 0.2in;
} 

.corner{
	width: 0.4in;
	height: 0.4in;
	line-height: 0.4in;
	text-align: center;
	border-radius: 0.3in 0.1in 0.3in 0.1in;
	position: absolute;
	bottom: calc(0px - 0.1in - 2px);
	right: calc(0px - 0.1in - 2px);
	border: 1px solid black;
	background-color: white;
	margin-bottom: 0;
}

.corner > img {
	max-height: 0.2in;
	max-width: 0.2in;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.separator{
	display: block;
	width: 100%;
	position: relative;
	margin: 0.1in 0;
}

.separator::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	border-bottom: 1px solid black;
	z-index: 0;
}

.separator > span{
	position: relative;
	background-color: white;
	padding: 0 0.1in;
	z-index: 1;
}

.diagram{
	width: 100%;
	text-align: center;
}


.diagram td{
	width: 0.5in;
	height: 0.5in;
	border: 1px solid black;
}

.diagram > div{
	position:relative;
	display: inline-block;
}

.diagram svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.useFrom td{
	border: 1px solid black;
}